$moderateCyan:hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);
$veryLightGray: hsl(0, 0%, 98%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGray:#CBCBCB