html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
  color: #7a7a7a;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  color: white;
  padding: 50px 10px 10px 100px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 40px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.875rem;
  border-radius: 50px;
  cursor: pointer;
  border: 0 white;
  font-weight: 400;
  outline: none;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.bck .bckdesktop {
  width: 100%;
  display: block;
}

.bck .bckmobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .bck .bckdesktop {
    display: none;
  }
  .bck .bckmobile {
    display: block;
    width: 100%;
  }
}

.cross {
  cursor: pointer;
  padding-left: 700px;
  font-weight: 700;
  color: #7a7a7a;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.cross:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .cross {
    padding: 0px;
    text-align: end;
  }
}

.ovelay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: auto;
}

.ovelay__card {
  position: relative;
  top: 200px;
  width: 800px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #7a7a7a;
  margin: auto;
  border-radius: 0.5em;
  padding: 50px;
  text-align: left;
  padding-top: 30px;
  margin-bottom: 30px;
}

.ovelay__card h2 {
  color: black;
}

@media only screen and (max-width: 768px) {
  .ovelay__card {
    width: 84%;
    margin-right: 30px;
  }
  .ovelay__card h2 {
    margin-top: 0px;
  }
}

.ovelay__item1 {
  border-radius: 0.5em;
  border: 1px solid #7a7a7a;
  margin-top: 20px;
}

.ovelay__item2 {
  border-radius: 0.5em;
  border: 1px solid #7a7a7a;
  margin-top: 20px;
}

.ovelay__item3 {
  border-radius: 0.5em;
  border: 1px solid #7a7a7a;
  margin-top: 20px;
}

.ovelay__item4 {
  border-radius: 0.5em;
  border: 1px solid #7a7a7a;
  margin-top: 20px;
  color: #CBCBCB;
}

.ovelay__item4 label, .ovelay__item4 input, .ovelay__item4 span, .ovelay__item4 .checkmark {
  color: #CBCBCB;
}

.ovelay__head {
  padding: 30px 0 20px 20px;
  margin: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ovelay__head:hover {
  color: #3cb4ac;
}

.ovelay__head h5, .ovelay__head h3 {
  padding-left: 30px;
  margin: 0px;
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  .ovelay__head {
    display: block;
    padding-bottom: 0px;
  }
  .ovelay__head h5, .ovelay__head h3 {
    padding: 0px;
    padding-bottom: 10px;
  }
}

.ovelay__radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  color: black;
}

@media only screen and (max-width: 768px) {
  .ovelay__radio {
    display: block;
  }
}

.ovelay__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ovelay__radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #CBCBCB;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.ovelay__radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.ovelay__radio:hover input ~ .checkmark {
  border: 2px solid #147b74;
  color: #3cb4ac;
}

.ovelay__radio input:checked ~ .checkmark {
  border: 2px solid #CBCBCB;
  background-color: white;
}

.ovelay__radio input:checked ~ .checkmark:after {
  display: block;
}

.ovelay__radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #147b74;
}

.ovelay__content {
  padding: 0 25px 25px 84px;
  line-height: 1.5em;
}

@media only screen and (max-width: 768px) {
  .ovelay__content {
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

.fadeout1, .fadeout2, .fadeout3, .fadeout4 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .fadeout1, .fadeout2, .fadeout3, .fadeout4 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.fadeout1 hr, .fadeout2 hr, .fadeout3 hr, .fadeout4 hr {
  margin-left: -85px;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1.5px solid lightgray;
  border-radius: 0.5em;
  background-color: #CBCBCB;
}

@media only screen and (max-width: 768px) {
  .fadeout1 hr, .fadeout2 hr, .fadeout3 hr, .fadeout4 hr {
    width: 240px;
    margin-left: 0px;
  }
}

.fadeout1 .fade, .fadeout2 .fade, .fadeout3 .fade, .fadeout4 .fade {
  margin-left: 180px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .fadeout1 .fade, .fadeout2 .fade, .fadeout3 .fade, .fadeout4 .fade {
    margin-left: 0px;
    margin: 10px;
  }
}

.fadeout1 button, .fadeout2 button, .fadeout3 button, .fadeout4 button {
  color: white;
  font-weight: 600;
  background-color: #3cb4ac;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.fadeout1 button:hover, .fadeout2 button:hover, .fadeout3 button:hover, .fadeout4 button:hover {
  background-color: #147b74;
}

.fadeout4 button {
  background-color: #C1DCD8;
  cursor: not-allowed;
}

.fadeout4 button:hover {
  background-color: #3cb4ac;
}

.overlaytwo {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  overflow-y: scroll;
}

.overlaytwo h2 {
  color: black;
}

.overlaytwo__item {
  color: darkgray;
  background-color: white;
  width: 400px;
  border-radius: 0.5em;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 15px;
  line-height: 1.5em;
  padding-top: 35px;
  height: 330px;
}

@media only screen and (max-width: 768px) {
  .overlaytwo__item {
    width: 84%;
    height: auto;
    margin-right: 30px;
  }
}

.overlaytwo button {
  margin-top: 25px;
  color: white;
  font-weight: 700;
  background-color: #3cb4ac;
}

.overlaytwo button:hover {
  background-color: #147b74;
}

.card1 {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 800px;
  margin: auto;
  height: 270px;
  position: relative;
  margin-top: -80px;
  background-color: white;
  text-align: center;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .card1 {
    width: 80%;
    height: auto;
  }
}

.card1 img {
  margin-top: -30px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  color: black;
}

.btn-grp1 {
  height: auto;
  padding: 40px 0 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 768px) {
  .btn-grp1 {
    display: block;
    padding-bottom: 20px;
  }
  .btn-grp1 .btn-grp1__itm1, .btn-grp1 .btn-grp1__itm2 {
    left: 0px;
  }
  .btn-grp1 .btn-grp1__itm1 {
    margin: 12px;
    height: 50px;
  }
}

.btn-grp1 img {
  margin: 0;
  height: 50px;
  padding-right: 20px;
}

.btn-grp1 button {
  padding: 0;
  width: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.btn-grp1__itm1 {
  position: relative;
  left: -150px;
  background-color: #3cb4ac;
  color: white;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn-grp1__itm1:hover {
  background-color: #147b74;
}

.btn-grp1__itm2 {
  position: relative;
  right: -150px;
  color: #7a7a7a;
  font-weight: 700;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn-grp1__itm2:hover {
  background-color: #CBCBCB;
}

.btn-grp1__itm2 .sho {
  display: none;
}

.btn-grp1__itm2 div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2 {
  -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 800px;
  margin: auto;
  border-radius: 0.5rem;
  height: 200px;
  position: relative;
  top: 20px;
  background-color: white;
  color: #7a7a7a;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .card2 {
    width: 80%;
    height: 500px;
  }
  .card2 .card2__item {
    display: block;
  }
  .card2 .horzline hr {
    padding: 0px;
    width: 350px;
  }
  .card2 .horzline .hr2 {
    width: 270px;
  }
}

.card2 h1 {
  color: black;
}

.card2__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.card2__item div {
  padding: 30px 70px;
  line-height: 0.7em;
}

.horzline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.horzline hr {
  width: 600px;
  height: 10px;
  background-color: #F4F4F4;
  border-radius: 0.5rem;
  border: #7a7a7a;
}

.horzline .hr2 {
  background-color: #3cb4ac;
  width: 500px;
  text-align: left;
  position: absolute;
}

.card3 {
  -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 800px;
  height: 1100px;
  margin: auto;
  position: relative;
  top: 20px;
  border-radius: 0.5rem;
  margin-top: 20px;
  padding: 40px;
  line-height: 1.5em;
  margin-bottom: 70px;
}

@media only screen and (max-width: 768px) {
  .card3 {
    width: 80%;
    height: 100%;
  }
  .card3 .card3__item1 a, .card3 .card3__item2 a, .card3 .card3__item3 a {
    display: block;
    padding: 0px;
  }
  .card3 .card3__item1 button, .card3 .card3__item2 button, .card3 .card3__item3 button {
    padding: 0px;
    margin: 0px;
    display: block;
  }
}

.card3 h2, .card3 h3 {
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 8px;
}

.card3 a {
  color: #3cb4ac;
}

.card3 button {
  font-weight: 700;
  background-color: #3cb4ac;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  margin-left: 450px;
  color: white;
  height: 40px;
  padding: 0;
  width: 150px;
}

.card3 button:hover {
  background-color: #147b74;
}

.card3__item1 {
  border: 1px solid #7a7a7a;
  border-radius: 0.5rem;
  margin-top: 10px;
  padding: 20px;
}

.card3__item1 a {
  padding-left: 400px;
}

.card3__item1 a:hover {
  color: #147b74;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card3__item2 {
  border: 1px solid #7a7a7a;
  border-radius: 0.5rem;
  margin-top: 10px;
  padding: 20px;
}

.card3__item2 a {
  padding-left: 360px;
}

.card3__item2 a:hover {
  color: #147b74;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card3__item2 button {
  margin-left: 460px;
}

.card3__item3 {
  border: 1px solid #7a7a7a;
  border-radius: 0.5rem;
  margin-top: 10px;
  padding: 20px;
  color: #CBCBCB;
}

.card3__item3 h2, .card3__item3 h3 {
  color: #CBCBCB;
}

.card3__item3 a {
  color: #BDDBDA;
  padding-left: 290px;
}

.card3__item3 button {
  color: white;
  margin-left: 475px;
  opacity: 0.5;
  cursor: not-allowed;
}

.header .overlay {
  position: absolute;
}

.header .over {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  scroll-behavior: auto;
  top: 0px;
}

.header__ham {
  padding-left: 250px;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  width: 80%;
  height: auto;
  margin: auto;
  background-color: white;
  border-radius: 0.5em;
  text-decoration: none;
  margin-top: 20%;
  font-weight: 600;
  font-size: 20px;
}

.header__menu hr {
  background-color: #147b74;
  width: 100%;
  margin: 0px;
}

.header__menu a {
  padding: 20px 0 20px 10px;
  color: black;
}

.header .nav {
  opacity: 0;
  position: relative;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__links {
  position: relative;
  padding-left: 700px;
  font-weight: 400;
  text-decoration: none;
}

.header__links a {
  text-decoration: none;
  color: white;
}

.header__links a:hover {
  color: #9698a6;
  text-decoration: underline;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}
/*# sourceMappingURL=style.css.map */