html{
    font-size:100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.hide-for-desktop{
    margin-left: 150px;
    cursor: pointer;
    position: relative;

    @media screen and (min-width:375px) {  
        display: none;
        cursor: pointer;
    }
}

.hide-for-mobile{
    @media screen and (max-width: 375px){
        display: none;
    }
}

.overlay2{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    font-family: 'ubuntu';
    font-weight: 500;

    img{
        margin: 70px 0 0 309px;
    }


    &__content{
        display: grid;
        background-color: white;
        height: auto;
        margin: auto;
        width: 80%;
        color: $veryDarkBlue;
        border-radius: 0.5em;
        margin-top: 50px;
        padding-bottom: 1.5em;
        text-align: center;
        justify-content: center;

    }

    &__dropdown{
        position: relative;
        color: $veryDarkBlue;
        text-decoration: none;
        padding-top: 1.5em;
        cursor: pointer;
        height: auto;
        

        a{
            text-decoration: none;
        }
        
        .dropbtn{

            img{
                margin: 0;
                z-index: 1;
            }

        }
        .drop-content{
            display: none;
            position: relative;
            background-color: $grayishBlue;
            margin-top: 30px;
            text-align: center;
            border-radius: 0.3em;
            line-height: 1.5em;
            z-index: 1;
            height: auto;
            width: 270px;

           
            a{
                color: $geryDarkGrayishBlue;

                &:hover{
                    color: black;
                }
            }
        }
        &:hover{
            .dropbtn{
                text-decoration: underline;
            }   
            .drop-content{
                display: grid;
            }

        }
    }

    hr{
        z-index: 1;
        margin: 0;
        width: 270px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $grayishBlue;
        border: 1px solid $grayishBlue;
    }
    .overbtn{
        text-align: center;
        justify-content: center;
        display: grid;
        padding-bottom: 10px;
        padding-top: 10px;
        
        button{
            background-color: $lightRed;
            color: white;
            font-weight: 500;
            font-family: 'ubuntu';
            border-radius: 1.5em;
            width: 100px;
            height: 40px;
            border: none;
            margin-top: 10px;
        }
    }

}

.hero{
    width: 100%;
    height: 900px;
    font-family: 'overpass';

    h2{
        margin: 0;
        text-align: center;
        position: relative;
        top: 100px;
        font-size: 2em;
        font-family: 'Overpass';
        font-weight: 600;
        color: $veryDarkBlue;

    }

    &__content{
        overflow: hidden;

        img{
            margin-left: 700px;
            width: 800px;
        }
    }

    &__description{
        position: relative;
        top: -640px;
        display: grid;
        max-width: fit-content;
        width: 45%;
        margin-left: 80px;
        font-family: 'ubuntu';
        color: $geryDarkGrayishBlue;
        line-height: 1.8em;

        h3{
            margin-bottom: 25px;
            margin-top: 60px;
            font-size: 23px;
            font-family: 'overpass';
            color: $veryDarkBlue;
        }
    }

    
    @media screen and (max-width:375px) {
        height: auto;

        h2{
            position: static;
            margin-top: 80px;
        }
        .hero__content{
            img{
                position: static;
                width: 100%;
                margin: 0;
                margin-top: 40px;
            }
        }  
        &__description{
            position: static;
            text-align: center;
            width: 100%;
            margin: 0 30px 0 30px;
        }
    }
}

.section2{
    display: grid;
    width: 100%;

    &__content{
        height: 520px;
    }
   
    &__description{
        overflow: hidden;
        height: 400px;
        background-image: linear-gradient(to right,$veryDarkGrayBlue, $veryDarkDesaturatedBlue);
        border-bottom-left-radius: 8em;
        border-top-right-radius: 8em;

        img{
            height: 850px;
            width: 100%;
            margin-top: -400px;
            margin-left: -150px;
        }

        h3{
            position: absolute;
            margin-left: 55%;
            color: white;
            font-family: 'overpass';
            margin-top: -350px;
            font-size: 30px;
        }
        
        .theory{
            position: absolute;
            margin-left: 55%;
            color: white;
            font-family: 'overpass';
            margin-top: -300px;
            width: 35%;
            line-height: 1.8em;

        }

    }

    .phone-illus{
        position: relative;
        top: -470px;
        margin-left: 80px;
    }

    @media screen and (max-width:375px){
        margin-top: 230px;
        height: auto;
        position: static;

        &__description{
            height: auto;
            width: 100%;

            img{
                height: 650px;
                width: 200%;
                margin-top: -200px;
            }

            h3{
                margin-top: -280px;
                text-align: center;
                margin-left: 0;
            }

            .theory{
                text-align: center;
                width: auto;
                margin: -175px 30px 0 30px;
            }
        }

        .phone-illus{
            width: 100%;
            margin: 0;
            top: -640px;
        }
    }
}

.section3{

    height: 800px;
    img{
        height: 700px;
        margin-left: -250px;
    }

    &__description{
        width: 40%;
        margin-left: 52%;
        margin-top: -600px;
        font-family: 'overpass';
        font-size: 16px;
        line-height: 1.8em;

        h3{
            margin-bottom: 25px;
            margin-top: 60px;
            font-size: 23px;
            font-family: 'overpass';
            color: $veryDarkBlue;
        }
    }

    @media screen and (max-width:375px){
        height: auto;
        img{
            width: 100%;
            height: auto;
            margin-left: 0;
        }

        &__description{
            height: auto;
            display: block;
            width: auto;
            margin: 0;
            text-align: center;
            margin: 0 30px 30px 30px;
        }
    }
}