html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.hide-for-desktop {
  margin-left: 150px;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 375px) {
  .hide-for-desktop {
    display: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 375px) {
  .hide-for-mobile {
    display: none;
  }
}

.overlay2 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  font-family: 'ubuntu';
  font-weight: 500;
}

.overlay2 img {
  margin: 70px 0 0 309px;
}

.overlay2__content {
  display: -ms-grid;
  display: grid;
  background-color: white;
  height: auto;
  margin: auto;
  width: 80%;
  color: #1f3f5b;
  border-radius: 0.5em;
  margin-top: 50px;
  padding-bottom: 1.5em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay2__dropdown {
  position: relative;
  color: #1f3f5b;
  text-decoration: none;
  padding-top: 1.5em;
  cursor: pointer;
  height: auto;
}

.overlay2__dropdown a {
  text-decoration: none;
}

.overlay2__dropdown .dropbtn img {
  margin: 0;
  z-index: 1;
}

.overlay2__dropdown .drop-content {
  display: none;
  position: relative;
  background-color: #c8c8cb;
  margin-top: 30px;
  text-align: center;
  border-radius: 0.3em;
  line-height: 1.5em;
  z-index: 1;
  height: auto;
  width: 270px;
}

.overlay2__dropdown .drop-content a {
  color: #4b5862;
}

.overlay2__dropdown .drop-content a:hover {
  color: black;
}

.overlay2__dropdown:hover .dropbtn {
  text-decoration: underline;
}

.overlay2__dropdown:hover .drop-content {
  display: -ms-grid;
  display: grid;
}

.overlay2 hr {
  z-index: 1;
  margin: 0;
  width: 270px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #c8c8cb;
  border: 1px solid #c8c8cb;
}

.overlay2 .overbtn {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.overlay2 .overbtn button {
  background-color: #ff3d54;
  color: white;
  font-weight: 500;
  font-family: 'ubuntu';
  border-radius: 1.5em;
  width: 100px;
  height: 40px;
  border: none;
  margin-top: 10px;
}

.hero {
  width: 100%;
  height: 900px;
  font-family: 'overpass';
}

.hero h2 {
  margin: 0;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 2em;
  font-family: 'Overpass';
  font-weight: 600;
  color: #1f3f5b;
}

.hero__content {
  overflow: hidden;
}

.hero__content img {
  margin-left: 700px;
  width: 800px;
}

.hero__description {
  position: relative;
  top: -640px;
  display: -ms-grid;
  display: grid;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 45%;
  margin-left: 80px;
  font-family: 'ubuntu';
  color: #4b5862;
  line-height: 1.8em;
}

.hero__description h3 {
  margin-bottom: 25px;
  margin-top: 60px;
  font-size: 23px;
  font-family: 'overpass';
  color: #1f3f5b;
}

@media screen and (max-width: 375px) {
  .hero {
    height: auto;
  }
  .hero h2 {
    position: static;
    margin-top: 80px;
  }
  .hero .hero__content img {
    position: static;
    width: 100%;
    margin: 0;
    margin-top: 40px;
  }
  .hero__description {
    position: static;
    text-align: center;
    width: 100%;
    margin: 0 30px 0 30px;
  }
}

.section2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.section2__content {
  height: 520px;
}

.section2__description {
  overflow: hidden;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(to right, #2c2d3f, #3f4164);
  border-bottom-left-radius: 8em;
  border-top-right-radius: 8em;
}

.section2__description img {
  height: 850px;
  width: 100%;
  margin-top: -400px;
  margin-left: -150px;
}

.section2__description h3 {
  position: absolute;
  margin-left: 55%;
  color: white;
  font-family: 'overpass';
  margin-top: -350px;
  font-size: 30px;
}

.section2__description .theory {
  position: absolute;
  margin-left: 55%;
  color: white;
  font-family: 'overpass';
  margin-top: -300px;
  width: 35%;
  line-height: 1.8em;
}

.section2 .phone-illus {
  position: relative;
  top: -470px;
  margin-left: 80px;
}

@media screen and (max-width: 375px) {
  .section2 {
    margin-top: 230px;
    height: auto;
    position: static;
  }
  .section2__description {
    height: auto;
    width: 100%;
  }
  .section2__description img {
    height: 650px;
    width: 200%;
    margin-top: -200px;
  }
  .section2__description h3 {
    margin-top: -280px;
    text-align: center;
    margin-left: 0;
  }
  .section2__description .theory {
    text-align: center;
    width: auto;
    margin: -175px 30px 0 30px;
  }
  .section2 .phone-illus {
    width: 100%;
    margin: 0;
    top: -640px;
  }
}

.section3 {
  height: 800px;
}

.section3 img {
  height: 700px;
  margin-left: -250px;
}

.section3__description {
  width: 40%;
  margin-left: 52%;
  margin-top: -600px;
  font-family: 'overpass';
  font-size: 16px;
  line-height: 1.8em;
}

.section3__description h3 {
  margin-bottom: 25px;
  margin-top: 60px;
  font-size: 23px;
  font-family: 'overpass';
  color: #1f3f5b;
}

@media screen and (max-width: 375px) {
  .section3 {
    height: auto;
  }
  .section3 img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .section3__description {
    height: auto;
    display: block;
    width: auto;
    margin: 0;
    text-align: center;
    margin: 0 30px 30px 30px;
  }
}

.header {
  font-family: 'ubuntu';
  height: 500px;
}

.header .overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 8em;
  height: 500px;
  overflow: hidden;
}

.header .container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

.header__logo img {
  height: 2.5em;
  width: 6em;
  margin-left: 100px;
  margin-top: 20px;
}

.header__bg img {
  position: absolute;
  top: -1200px;
  height: 3000px;
  width: 3000px;
  left: -500px;
}

.header__dropdown {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 2.5em;
  cursor: pointer;
  height: 80px;
}

.header__dropdown a {
  text-decoration: none;
}

.header__dropdown .dropbtn {
  padding-left: 2.5em;
}

.header__dropdown .drop-content {
  display: none;
  position: absolute;
  position: absolute;
  background-color: white;
  margin-top: 30px;
  text-align: center;
  margin-left: 30px;
  width: 100px;
  border-radius: 0.3em;
  line-height: 1.5em;
  z-index: 1;
}

.header__dropdown .drop-content a {
  color: grey;
}

.header__dropdown .drop-content a:hover {
  color: black;
}

.header__dropdown:hover .dropbtn {
  text-decoration: underline;
}

.header__dropdown:hover .drop-content {
  display: -ms-grid;
  display: grid;
}

.header .log_sign {
  position: relative;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-left: 30em;
  cursor: pointer;
}

.header .log_sign button {
  border-radius: 1.5em;
  width: 100px;
  height: 35px;
  border: none;
  margin-left: 1.5em;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  color: #ff3d54;
}

.header .log_sign button:hover {
  color: white;
  background-color: #ff8f70;
}

.header__content {
  text-align: center;
  position: relative;
  padding-top: 100px;
  color: white;
  font-family: 'overpass';
  font-size: 25px;
  line-height: 1em;
}

.header__content button {
  border-radius: 1.5em;
  height: 40px;
  border: 1px solid white;
  font-family: 'Ubuntu';
  font-weight: 600;
  width: 110px;
  color: #ff3d54;
  cursor: pointer;
  margin: 10px;
}

.header__content .one:hover {
  background-color: #ff8f70;
  color: white;
}

.header__content .two {
  background: none;
  color: white;
}

.header__content .two:hover {
  color: #ff3d54;
  background-color: white;
}

@media screen and (max-width: 375px) {
  .header__logo img {
    margin: 30px;
  }
  .header__content {
    font-size: 1em;
    line-height: 2em;
  }
}

.footer {
  height: 300px;
  background-color: #25252d;
  font-family: 'ubuntu';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-top-right-radius: 8em;
  width: 100%;
}

.footer img {
  width: 100px;
  height: 50px;
  margin: 50px 0 0 110px;
}

.footer__content {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
  margin-left: 160px;
  margin-top: 30px;
  line-height: 1.5em;
  font-size: 20px;
}

.footer__content .para {
  width: 100px;
  margin-right: 170px;
}

.footer__content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

@media screen and (max-width: 375px) {
  .footer {
    height: auto;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  .footer__content {
    display: block;
    margin: 0;
  }
  .footer__content .para {
    margin: 0;
    width: auto;
  }
  .footer img {
    margin: 60px 0 40px 0;
  }
}
/*# sourceMappingURL=style.css.map */